*, *:before, *:after {
  box-sizing: inherit;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  color: $color;
  background: $background;
  line-height: $line-height;
  font-weight: $font-weight;
}

hr {
  border: none;
  height: 4px;
  margin: 0;
  background: $teal;
}

img.aligncenter {
  margin: 0 auto;
}

img.alignleft {
  float: left;
  margin-right: 20px;
}

img.alignright {
  float: right;
  margin-left: 20px;
} 