#footer {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav > ul > li:first-child {
    @extend %triad-upright;
  }

  .fieldset-wrapper > div {
    width: 50%;
    display: inline-block;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  legend,
  .fieldset-wrapper > div.form-item-FirstName,
  .fieldset-wrapper > div.form-item-LastName {
    display: none;
  }
}

#footer nav.social ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
  @extend %triad-upright;
  li:last-of-type {
    text-align: right;
  }
  li:first-of-type {
    text-align: left;
  }
}

#footer .footer-menu {
  & > ul > li:first-child {
    font: inherit;
  }

  & > ul > li {
    display: inline-block;
    margin-right: $padding/2;
    a {
      display: inline-block;
      padding-right: $padding/2;
    }
    &:after {
      content: "|";
    }
    &:last-of-type {
      &:after {
        content: "";
        margin-right: 0;
      }
    }
  }
}
