.multistep-layout .HeaderHtml {
  display: none;
}

.multistep-layout.split-layout form {
  width: 100% !important;
  border-left: none !important;
}

.at img {
  display: none !important;
}

.contributions {
  color: white;
}

.contributions p a {
  font-weight: bold !important;
  color: white !important;
}

.multistep-layout .LegalDescription p {
    color: white !important;
}

.at label small {
    color: #d3a3ff !important;
}

.content.thankYou {
    padding: 30px !important;
}

.thankYou .btn-facebook {
    margin-right: 15px;
}

.at .error small.error {
    color: #fff !important;
}

#footer {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav > ul > li:first-child {
    @extend %triad-upright;
  }

  .fieldset-wrapper > div {
    width: 50%;
    display: inline-block;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  legend,
  .fieldset-wrapper > div.form-item-FirstName,
  .fieldset-wrapper > div.form-item-LastName {
    display: none;
  }
}

#footer nav.social ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.75rem;
  @extend %triad-upright;
  li:first-of-type {
    margin-right: $padding * 2;
  }

  @media screen and (max-width: 768px) {
    // margin-top: 2rem;
  }
}

#footer nav {
  & > ul > li:first-child {
    text-transform: uppercase;
  }
}

#footer {
  .copyright {
    font-size: .75rem;
    line-height: 1.4rem;
  }
}

#footer .footer-menu {
  font-size: .75rem;
  line-height: 1.4rem;

  & > ul > li:first-child {
    font: inherit;
    text-transform: none;
  }

  & > ul > li {
    display: inline-block;
    margin-right: $padding/2;
    a {
      display: inline-block;
      margin-right: $padding/2;
    }
    &:after {
      content: "|";
    }
    &:last-of-type {
      &:after {
        content: "";
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .footer-row-wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer-menu-row {
    order: 1;
    margin-bottom: $padding * 1.5;
  }
  .footer-logo-row {
    order: 2;
    margin-bottom: $padding * 1.5;
  }
  .footer-copright-row {
    order: 3;
  }
  #contact-sign-up {
    margin-bottom: $padding * 1.5;
  }

  #footer ul {
    line-height: 2;
  }

  #footer .footer-menu {
    line-height: 2;
    & > ul > li:first-child {
      font: inherit;
      text-transform: none;
    }

    & > ul {
      margin-bottom: $padding;
    }

    & > ul > li {
      display: block;
      margin-right: 0;
      a {
        display: block;
        padding-right: 0;
      }
      &:after {
        content: "";
      }
      &:last-of-type {
        &:after {
          content: "";
          margin-right: 0;
        }
      }
    }
  }
}
