#header {
  text-transform: uppercase;
  padding-bottom: 3 * $padding;
  @extend %triad-upright;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

#header #logo {
  width: 200px;
  margin-top: $logo-bar-height + $logo-bar-margin;
  margin-right: $padding;
  @media screen and (max-width: 900px) {
    max-width: 100%;
    margin-top: $padding/2;
    margin-bottom: $padding/2;
  }
}

#header span.arrow {
  transform: rotateZ(180deg) translateY(-.1em);
  color: $teal;
  display: inline-block;
  margin-left: .2em;
}

.header-content {
  display: flex;
  align-items: top;
  justify-content: space-between;
  line-height: $logo-bar-height;
  li {
    margin-bottom: $logo-bar-margin;
    display: inline-block;
  }
  ul ul {
    display: none;
  }
  nav > ul {
    display: flex;
    &:hover {
      & > li:not(:hover) {
        & > a {
          color: $blue;
          border-bottom: $logo-bar-height solid transparent;
        }
        ul {
          display: none !important;
        }
      }
    }
  }
  nav > ul > li {
    position: relative;
    padding-right: $padding * 4;
    display: block;
    & > a {
      padding-top: $logo-bar-height + $logo-bar-margin;
      padding-bottom: $logo-bar-margin;
    }
    &:last-child {
      padding-right: 0;
    }
    ul {
      position: absolute;
      top: 100%;
      background: #fff;
      li {
        margin: $logo-bar-margin 0 $logo-bar-margin 0;
        height: $logo-bar-height;
        display: block;

        a {
          border-left: $logo-bar-height*.67 solid transparent;
          text-indent: .2em;
        }
        &.active a,
        &:hover a {
          border-left: $logo-bar-height*.67 solid $teal;
          color: $teal;
        }
      }
    }

    & > a {
      border-bottom: $logo-bar-height solid transparent;
    }

    &.active,
    &.child-active,
    &:hover {
      & > a {
        color: $teal;
        border-bottom: $logo-bar-height solid $teal;
      }
    }
    &.active,
    &.child-active,
    &:hover {
      & > a {
        color: $teal;
      }
      ul {
        display: block;
      }
    }

    &:hover + li.active,
    &:hover + li.child-active {

      & > a {
        border-bottom: $logo-bar-height solid transparent;
      }
      ul {
        display: none;
      }
    }
  }

  ul ul li {
    display: block;
  }

  li a {
    white-space: nowrap;
    display: block;
  }
}

.main-menu-toggle {
  display: none;
  cursor: pointer;
  span {
    transform: rotateZ(180deg) translateY(-.1em);
    display: inline-block;
    padding: .2em;
    color: $teal;
    line-height: 1;
    body.menu-open & {
      transform: rotateZ(0deg) translateY(-.1em);
    }
  }
  &:focus {
    outline: none;
  }
  @media screen and (max-width: 900px) {
    border: none;
    font: inherit;
    height: 72px;
    background: #fff;
    padding: 0;
    margin: 0;
    width: 72px;
    font-size: .8rem;
    top: 0;
    right: 0;
    display: block;
    z-index: 1000;
    color: $blue;
  }
}

#header #logo {
  span {
    display: block;
    background: $teal;
    margin-bottom: $logo-bar-margin;
  }
  svg {
    background: #fff;
    height: $logo-bar-height;
    padding-right: $logo-bar-margin;
    display: block;
  }
}

ul ul {
  font-family: $font-family-base;
  text-transform: none;
  font-weight:bold;
}

@media screen and (max-width: 900px) {
  .header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  #header #logo {
    max-width: 100%;
    min-width: 200px;
    flex-basis: 200px;
  }
  #header nav {
    display: none;
    ul {
      display: block;
    }
    ul ul {
      position: static;
      background: transparent;
    }
    body.menu-open & {
      display: block;
    }
  }
  #header nav > ul > li {
    &:hover {
      & > a {
      }
    }
  }
  nav#main-menu {
    min-width: 100%;
    flex-basis: 100%;
    ul ul {
      display: block;
    }
  }

  nav#main-menu > ul {
    // display: flex;
    & > li.active,
    & > li.has-children {
      & > a {

        border-bottom: $logo-bar-height solid $teal;
      }
    }
    & > li.active > a {
      color: $teal;
    }
    &:hover {
      & > li:not(:hover) {
        & > a {
          // color: $blue;
          // border-bottom: $logo-bar-height solid transparent;
        }
        ul {
          // display: none !important;
          display: block !important;
        }
      }
    }
  }
}
