$padding: 1.25rem;

// Base font settings
$font-size: 16px;
$line-height: 1.4; // This should be unit-less (no px, rem, em, etc.)
$font-weight: 500;

$font-size-small: 14px;

$font-family-base: 'Libre Franklin', sans-serif;

// Headings
$headings-font-family: $font-family-base;
$headings-font-weight: 400;
$headings-line-height: 1.1;

$h1-font-size: 44px;
$h1-line-height: 42px;

$h2-font-size: 32px;
$h2-line-height: 38px;

$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 26px;
$h6-font-size: 18px;

// Display 1,2,3,4 variables

$display-1-font-size: 4rem;
$display-1-line-height: 1.1;
$display-1-font-family: $font-family-base;
$display-1-font-weight: 100;

$display-2-font-size: 3rem;
$display-2-line-height: 1.1;
$display-2-font-family: $font-family-base;
$display-2-font-weight: 500;

$display-3-font-size: 2.2rem;
$display-3-line-height: 1.1;
$display-3-font-family: $font-family-base;
$display-3-font-weight: 600;

$display-4-font-size: 1.5rem;
$display-4-line-height: 1.1;
$display-4-font-family: $font-family-base;
$display-4-font-weight: 900;

// Lead text
$lead-font-size: 21px;
$lead-line-height: 26px;
$lead-font-weight: 500;
$lead-font-family: $font-family-base;

// Base colors
$blue: rgb(146,24,255);
$teal: rgb(40,230,219);

$background: #fff;
$color: $blue;
$accent: $blue;

// Layout & Grid
$container-max-width: 1200px;

// Spacing
$spacer: $padding;
$spacings: 0,1,2,3,6,9,12;

$margins_and_paddings: (
  m: margin,
  p: padding
);

// Global Responsive Breakpoints
$breakpoints: (
  xs: 480px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1100px
);

// Grid Settings
$grid-column-sizes: 5,12;
$gutter-width: $padding;

$slick-dot-size: .8rem;

$logo-bar-height: 15px;
$logo-bar-margin: 4px;
