%triad-backslant {
  font-family: 'Triade-Backslant';
  font-weight: normal;
}

%triad-upright {
  font-family: 'Triade-Upright';
  font-weight: normal;
}

%triad-slanted {
  font-family: 'Triade-Slanted';
  font-weight: normal;
}

@import "variables";
@import "fonts";
@import "modals";

p, ul, ol {
  margin: 1rem 0 1rem 0;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: transparent solid 4px;
  &:hover {
    color: $accent;
    border-bottom: #fff solid 4px;
    text-decoration: none;
  }
  img {
    &:hover {
      border-bottom: none;
    }
  }
}

h1 {
  font-size: $padding * 2;
}

@import "mixins";
@import "base";
@import "grid";
@import "buttons";
@import "typography";
@import "footer";

@include responsive_padding_margins();

@import "campaigns";

pre {
  background: #f2f2f2;
  padding: $spacer/2;
}

.align-center,
.text-center {
  text-align: center;
}

.align-left,
.text-left {
  text-align: left;
}

.align-right,
.text-right {
  text-align: right;
}

@import "staff-member";

.header-content > ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  & > li {
    margin-right: $padding;
  }
  & > li:last-of-type {
    margin-right: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
}

nav.footer-menu {
  li {
    display: inline;
    margin-right: $padding;
  }
}

@import "header";


.placeholder {
  position: relative;
  background: #e2e2e2;
  opacity: .25;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (2 / 4) * 100%;
  }
}

.placeholder-affiliate {
  position: relative;
  background: #e2e2e2;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top:(1.2/1) * 100%;
  }
}

.placeholder-person {
  position: relative;
  background: #e2e2e2;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (1/1) * 100%;
  }
}

.header-images {
  margin: 0;
  img {
    width: 102%;
    margin: 0 auto;
  }
  .slick-prev,
  .slick-next {
    outline: none;
    position: absolute;
    top: 50%;
    margin-top: -3.2rem;
    border: none;
    overflow: hidden;
    text-indent: -999999px;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border-top: 4px solid $blue;
    border-left: 4px solid $blue;
    transform: rotateZ(-45deg);
    cursor: pointer;
    &:hover {
      opacity: .8;
    }
  }
  .slick-prev {
    left: -4rem;
  }
  .slick-next {
    right: -4rem;
    border-top: none;
    border-left: none;
    border-bottom: 4px solid $blue;
    border-right: 4px solid $blue;
  }
}

ul.slick-dots {
  list-style-type: none;
  margin: $padding auto 0 auto;
  padding: 0;
  text-align: center;
  li {
    display: inline;
    margin: 0 .25rem;
  }
  button {
    outline: none;
    border: none;
    overflow: hidden;
    text-indent: -9999px;
    height: $slick-dot-size;
    width: $slick-dot-size;
    border-radius: $slick-dot-size/2;
    background: #eee;
  }
  li.slick-active button {
    background: #ddd;
  }
}


div.header-image .placeholder {
  background-position: center center;
  background-size: cover;
}


.small-slider {
  position: relative;
  .slick-dots {
    position: absolute;;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-top: -1rem;
    padding-bottom: .5rem;
    button {
      background: #888;
      height: .5rem;
      width: .5rem;
      padding: 0 !important;
      border-radius: .25rem;
    }
    li.slick-active button {
      background: #444;
    }
  }


}

.post {
  .placeholder {
    margin-bottom: $spacer/2;
  }
}

.post .excerpt > *:first-child {
  margin-top: 0;
}
.post .excerpt > *:last-child {
  margin-bottom: 0;
}


.small {
  font-size: $font-size-small;
}

.cf {
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  &.centered {
    margin: 0 auto;
  }
}

.filter {
  position: relative;
  background: $blue;
  // background: linear-gradient($teal,$blue);
  // .overlay {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background: transparent;
  //   background:
  //     linear-gradient(115deg, transparent 75%, rgba(255,255,255,.9) 15%) 0 0,
  //     linear-gradient(245deg, transparent 75%, rgba(255,255,255,.9) 15%) 0 0,
  //     linear-gradient(115deg, transparent 75%, rgba(255,255,255,.9) 15%) 2px 0px,
  //     linear-gradient(245deg, transparent 75%, rgba(255,255,255,.9) 15%) 2px 0px,
  //     $blue;
  //   background-size: 100px 100px
  // }
  img {
  }

}

label {
  display: block;
}

input[type="email"],
input[type="text"],
input[type="url"],
input[type="tel"] {
  display: block;
  width: 100%;
  font: inherit;
  display: block;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.bg-teal {
  background-color: $teal;
}

@import "color-schemes";

.logo {
  span {
    margin-bottom: 10px;
    display: block;
    background: $teal;

  }
  svg {
    background: $blue;
    padding-right: 10px;
    display: block;
    height: 21px;
  }
}

#footer .logo .st0,
#footer #Artboard {
  fill: #fff !important;
}

.home-page-header-content {
  position: relative;
  @media screen and (max-width: 768px) {
    padding-bottom: 36%;
  }
  .headline-line {
    background: #fff;
    height: 4.5rem;
    margin-bottom: 1.5rem;
    span {
      background: $blue;
      line-height: 4.5rem;
      display: inline-block;
      font-size: 6.35rem;
      @extend %triad-upright;
      padding-right: 1rem;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 768px) {
    .headline-line {
      height: 3.8rem;
      margin-bottom: .6rem;
      span {
        line-height: 3.9rem;
        font-size: 3.8rem;
        padding-right: .6rem;
      }
    }
  }
  .image {
    position: absolute;
    top: -2rem;
    right: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
    max-width: 71%;
    background-repeat: no-repeat;
    background-position: left top;
    z-index: 1000;
    @media screen and (max-width: 768px) {
      // position: static;
      width: 100%;
      max-width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      top: auto;
      &:before {
        padding-top: 50%;
        display: block;
        content: "";

      }
    }
  }
}

.header-transition-headline {
  font-weight: 800;
  font-size: 32px;
}

.section-lead {
  font-size: $lead-font-size;
  line-height: $lead-line-height;
  font-weight: $lead-font-weight;
  font-family: $lead-font-family;
  margin-bottom: 2rem;
}

.campaign-main-goals {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  &, ul {
    padding: 0;
  }
  & {
    list-style-type: none;
  }
  .goal-number {
    @extend %triad-upright;
    font-size: 88px;
    line-height: 1;
    text-align: center;
  }
}

.teal-header-line {
  background: #01D5F3;
  margin-top: .8rem;
  height: 1.325rem;
  margin-bottom: .5rem;
  span {
    background: #fff;
    line-height: 2rem;
    display: inline-block;
    font-size: 2rem;
    padding-right: .5rem;
    margin: -.45rem 0 0 0;
    @extend %triad-upright;
    text-transform: uppercase;
  }
}

.large-teal-header-line {
  background: #01D5F3;
  height: 29px;
  margin-bottom: 1rem;
  span {
    background: #fff;
    line-height: 2rem;
    display: inline-block;
    font-size: 44px;
    padding-right: .7rem;
    margin: -3px 0 0 0;
    @extend %triad-upright;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  .teal-header-line {
    background: #fff;
    height: auto;
    padding: 0 0 .5rem 0;
    border-bottom: 21px solid $teal;
    span {
    }
  }
  .large-teal-header-line {
    background: #fff;
    height: auto;
    padding: 0 0 .75rem 0;
    border-bottom: 24px solid $teal;
    span {
    }
  }
  .large-teal-header-line span {
    line-height: 2.5rem;
  }
}


article.campaign {
  &:hover {
    a {
      &:hover {
        color: $teal;
      }
      &.more-link {
        &:hover {
          color: $blue;
        }
      }
    }
    .filter {
      position: relative;
      background: $blue;
      img {
        mix-blend-mode: screen;
        -webkit-filter: grayscale(100%) contrast(120%);
        filter: grayscale(100%) contrast(120%);
        opacity: 1;
        width: 100%;
      }
    }
    color: $teal;
  }
}


svg {
  max-width: 100%;
  height: auto;
}

.teal-barred-text {
  @extend %triad-upright;
  background: $teal;
  span {
    background: #fff;
    padding-right: .3em;
  }
  @media screen and (max-width: 768px) {
    display: block;
    background: transparent;
    border-bottom: 15px solid $teal;
    padding-bottom: 4px;
    span {
      display: block;
      background: transparent;
    }
  }
}

.teal-barred-text {
  line-height: 1;
}

.bordered-box {
  padding: 2rem;
  border: 4px solid $blue;
  .content > *:last-child {
    margin-bottom: 0;
  }
}

.text-uppercase,
.uppercase {
  text-transform: uppercase;
}

.blue-box {
  @extend .color-scheme-blue;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .blue-box-col.col-xs-12 {
    margin-bottom: $padding;
  }
}

.color-blue {
  color: $blue;
}

.header-image .placeholder {
  opacity: 1;
}

.header-image {
  position: relative;
  overflow: hidden;
  &:before {
    padding-top: 50%;
    content: "";
    display: block;
    background: #ddd;
  }
  .filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // box-shadow: inset 0 0 0 1px #fff; // Fix for weird border bleed bug
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    display: block;
    transform: translateX(-50%) translateY(-50%);
  }
}

.post-thumbnail {
  position: relative;
  overflow: hidden;
  &:before {
    padding-top: 60%;
    content: "";
    display: block;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    display: block;
    transform: translateX(-50%) translateY(-50%);
  }
}

.donate-blue-box {
  background: $blue;
  @extend %triad-upright;
  color: #fff;
  height: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

// @import "donate";

.board-member {
  font-size: 14px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.meta {
  font-size: 10px;
  line-height: 20px;
}

.board-members > .board-member:last-of-type {
  margin-bottom: 0;
}

.home-affiliates {
  list-style-type: none;
  margin: 4rem 0 0 0;
  padding: 0;
  width: 130%;
  @extend %triad-upright;
  li {
    width: 50%;
    display: block;
    float: left;
    height: 2rem;
  }
  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    li {
      width: 100%;
      float: none;
      display: block;
    }
    padding-bottom: $padding;
  }
}

#map {
  margin-left: -20%;//rem;
  min-width: 100%;
  svg {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }
  @media screen and (max-width: 1024px) {
    margin-left: 0;
  }
}

.more-link {
  @extend %triad-upright;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 14px;
  color: $teal;
  font-weight: normal !important;
  text-transform: uppercase;
  &.white {
    color: $blue;
  }
  &:hover {
    text-decoration: none;
    color: $blue;
    border-bottom: $blue solid 4px;
  }
}

#donate-form {
  * {
    font-family: inherit;
    font-weight: normal;
  }
  .at-inner {
    border: none;
    border-radius: 0;
    background: transparent;
  }

  .at,
  .at label,
  .at .at-step.active > *,
  .at .at-steps a:hover,
  .at .at-steps b:hover {
    color: #fff;
  }

  .at form .label-amount>a {
    background: $teal;
    border-color: $teal;
  }

  .at form .label-amount a {
    opacity: .4;
  }

  .at form .label-amount input[type="radio"]:checked+a {
    opacity: 1;
  }

  .label-amount {
    font-family: 'Triade-Upright' !important;
    font-weight: normal;
  }

  .at .at-step {
    border-bottom: none;
    opacity: .4;
    &.active {
      opacity: 1;
    }
  }

  .at .step-title {
    font-weight: bold !important;
  }

  .at .at-steps {
    background: transparent;
    border: none;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      color: #fff;
    }
  }

  header.at-title {
    border: none;
    color: inherit;
  }

  .at .at-steps a,
  .at .at-steps b {
    border-right: none;
  }

  .at form .label-amount input:required {
    background: #fff;
    border-color: #fff;
  }

  .at form .label-amount input:required+.label-otheramount-prefix {
    color: $blue;
  }

  .at form .label-amount input:required {
    color: $blue;
  }

  .at .btn-at-primary,
  .at .btn-at-primary:hover,
  .at .at-step>*:before,
  .at .at-step.active.valid>*:before,
  .at .at-step.invalid>*:before {
    background: #fff;
    color: $blue;
  }

  .at .btn-at-link {
    color: #fff;
  }

  .at .btn-at-primary {
    font-weight: bold;
  }
}

#contact-sign-up {
  * {
    font-family: inherit;
    font-weight: normal;
  }
  .at-inner {
    border: none;
    border-radius: 0;
    background: transparent;
  }

  header.at-title,
  header.at-markup,
  .multistep-footer {
    display: none;
  }

  .at .at-fieldset,
  .at-form-submit {
    padding: 0;
  }

  .at label,
  .at fieldset legend {
    color: #fff;
  }

  .at-row>[class^="at-"],
  .at-form-submit .at-submit {
    margin: 0;
  }

  .at .btn-at-primary {
    font-weight: bold;
    color: $blue;
    background: #fff;
  }

  .at-row  {
    width: 50%;
    float: left;
  }

  .at-fields .at-row:first-child {
    padding-right: $padding;
  }

  .at input[type="tel"] {
    display: block;
    max-width: 100%;
  }

  .at-fields {
    *zoom: 1;
  }

  .at-fields:before,
  .at-fields:after {
    content: " ";
    display: table;
  }

  .at-fields:after {
    clear: both;
  }
}

.affiliate {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    &:hover {
      border-bottom: none;
    }
  }
}

.line-header {
  // background: rgba(0,0,0,.3);
  display: block;
  position: relative;
  margin-bottom: 2rem;
  span {
    text-transform: uppercase;
    background: #fff;
    font-family: 'Triade-Upright';
    font-weight: normal;
    line-height: 3rem;
    font-size: $h1-font-size;
    display: inline;
    padding-right: .25em;
  }

  .line {
    background: $teal;
    position: absolute;
    top: 26%;
    bottom: 14.8%;
    left: 0;
    right: 0;
    z-index: -1;

  }
}

.lead-more {
  font-size: 18px;
  &:hover {
    border-bottom: 4px solid #fff;
  }
}

.post-title {
  font-family: $font-family-base;
  text-transform: none;
  font-weight: 700;
}

.post .excerpt.small {
  margin-bottom: .2rem;
}

.post-date {
  margin: .3rem 0 .2rem 0;
  display: block;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 1.8rem solid transparent;
  border-right: 1.8rem solid transparent;
  z-index: 100000;
  transform: translateX(25%) translateY(1.7rem);
  border-top: 1.8rem solid $teal;
  position: absolute;
  bottom: 0;
  right: -1.8rem;

}

.teal-right-border {
  margin-right: .4rem;
  .border-overlay {
    width:2rem;
    background: #fff;
    height: 20%;
    position: absolute;
    bottom: 0;
    right: -1.8rem;
    z-index: 1000;
  }
  .arrow-down {
    bottom: 20%;
  }
  position: relative;
  border-right: 1.8rem solid $teal;
  .teal-right-border {
    margin-right: 0;
    border-color: $teal;
    .arrow-down {
      bottom: 0;
    }
  }
  .teal-right-border-content {
    padding-right: 1rem;

  }

  @media screen and (max-width: 768px) {
    border-right: none;
    .teal-right-border-content {
      padding-right: 0;
    }
    .arrow-down,
    .border-overlay {
      display: none;
    }
  }
}

.strikethrough {
  position: relative;
  display: inline-block;
  padding-right: 0 !important;
  .line {
    padding-right: 0 !important;
    display: block;
    position: absolute;
    top: 50%;
    height: 6px;
    left: 0;
    right: 0;
    transform: rotateZ(-6deg);
    width: 100%;
    background: $teal;
    display: block;
  }
}

.hidden-xs {
  display: none !important;
}
.hidden-sm {
  @media screen and (min-width: map-get($breakpoints, 'sm')) {
    display: none !important;
  }
}
.hidden-md {
  @media screen and (min-width: map-get($breakpoints, 'md')) {
    display: none !important;
  }
}
.hidden-lg {
  @media screen and (min-width: map-get($breakpoints, 'lg')) {
    display: none !important;
  }
}
.hidden-xl {
  @media screen and (min-width: map-get($breakpoints, 'xl')) {
    display: none !important;
  }
}


.visible-xs {
  display: block !important;
}
.visible-sm {
  @media screen and (min-width: map-get($breakpoints, 'sm')) {
    display: block !important;
  }
}
.visible-md {
  @media screen and (min-width: map-get($breakpoints, 'md')) {
    display: block !important;
  }
}
.visible-lg {
  @media screen and (min-width: map-get($breakpoints, 'lg')) {
    display: block !important;
  }
}
.visible-xl {
  @media screen and (min-width: map-get($breakpoints, 'xl')) {
    display: block !important;
  }
}



#donate-form header.at-title {
  @extend %triad-upright;
  font-size:32px;
  text-transform: uppercase;
  line-height: 1.3;
}

.post-title-box {
  margin-top: -2rem;
  .post-title {
    @extend %triad-upright;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 1.3;
    @media screen and (max-width: map-get($breakpoints, 'md')) {
      font-size: 32px;
    }
  }

  // h1.post-title {
  //   //
  //     font-size: 21px;
  //     line-height: 29px;
  //   // }
  // }
}



.post-content {
  @media screen and (min-width: map-get($breakpoints, 'sm')) {
    font-size: 21px;
    line-height: 29px;
  }

  a {
    font-weight: bold;
    border-bottom: 4px solid transparent;
    &:hover {
      border-color: $blue;
    }
  }
  h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-base !important;
    text-transform: none;
    font-weight: bold;

  }
  @media screen and (max-width: map-get($breakpoints, 'md')) {
    h1 {
      font-size: $h1-font-size * .8;
    }
    h2 {
      font-size: $h2-font-size * .8;
    }
    h3 {
      font-size: $h3-font-size * .8;
    }
    h4 {
      font-size: $h4-font-size * .8;
    }
    h5 {
      font-size: $h5-font-size * .8;
    }
    h6 {
      font-size: $h6-font-size * .8;
    }
  }
}

.goal-task {
  margin-bottom: 1rem;
  list-style-type:disc;
}

.margin-top-like-negative {
  margin-top: -21rem;
}

.border-overlay.background-blue {
  background: $blue !important;
}

// When in need of party mode, uncomment:
// * {
//   color: #e56;
//   background: Transparent !important;
//   background:orange !important;
//   text-shadow: 1rem 1rem blue;
// }

.no-paragraph-top-margins {
  margin-top: .5rem;
  p {
    margin-top: 0;
  }
}
