mixin navMenu(navMenu, theParentId)
  - var parentId = 0
  if theParentId
    - parentId = theParentId

  - var numPostsWithParentId = 0

  each menuItem in navMenu
    if menuItem.menu_item_parent === parentId
      - numPostsWithParentId = numPostsWithParentId + 1

  if numPostsWithParentId > 0
    ul
      each menuItem in navMenu
        if menuItem.menu_item_parent === parentId
          if parentId === 0
            - var childIsActive = false

          if post && post.permalink === menuItem.url
            li.active
              a.active(href=menuItem.url itemprop="url" role="menuitem") #[span(itemprop="name")= menuItem.title]
              +navMenu(navMenu, menuItem.id)
          else
            - var childIsActive = false
            each childMenuItem in navMenu
              if childMenuItem.menu_item_parent === menuItem.id
                if post && post.permalink === childMenuItem.url
                  - childIsActive = true

            if childIsActive
              li.child-active
                a.child-active(href=menuItem.url itemprop="url" role="menuitem") #[span(itemprop="name")= menuItem.title]

                +navMenu(navMenu, menuItem.id)
            else
              li
                a(href=menuItem.url itemprop="url" role="menuitem") #[span(itemprop="name")= menuItem.title]

                +navMenu(navMenu, menuItem.id)
