extends layout

block content
  if term
    h1!= term.name
    if term.description.trim().length
      div!= term.description
  if posts
    each post in posts
      article.post
        h2
          a(href=post.permalink)!= post.title
        div!= post.content
