extends layout

block content
  .container
    .row
      .col-xs-12
        if term
          h1!= term.name
          if term.description.trim().length
            div!= term.description
        if posts

    .row
      each post in posts
        include ./partials/post-listing
