extends layout

block content
  .container.m-xs-b-6
    .row
      .col-xs-12.col-md-8.col-md-offset-2
        if post
          if post.thumbnail
            img(src=post.thumbnail.large.url)

          h1.post-title= post.title
          div!= post.content
