include ./_mixins
doctype html
html(lang="en-us")
  head
    meta(charset="utf-8")
    title= site.site.name
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
    link(href="/css/style.css" rel="stylesheet" type="text/css")
  body
    header#header
      .container
        .row
          .col-xs-12
            .header-content
              #logo
                a(href="/") Alliance for Youth Action
                //- site.site.name

              if site.menus && site.menus.main
                nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
                  +navMenu(site.menus.main)

      block header

    section#content
      block content

    footer#footer
      .container
        .row
          .col-xs-12.col-md-2
            h6 About
            if site.menus && site.menus.about
              nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
                +navMenu(site.menus.about)
          .col-xs-12.col-md-2
            h6 Campaigns
            if site.menus && site.menus.campaigns
              nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
                +navMenu(site.menus.campaigns)
          .col-xs-12.col-md-2
            h6 Local Organizing
            if site.menus && site.menus.organizing
              nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
                +navMenu(site.menus.organizing)
          .col-xs-12.col-md-3
            h6 Donate
            if site.menus && site.menus.donate
              nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
                +navMenu(site.menus.donate)
          .col-xs-12.col-md-3


      .container.m-xs-t-2
        .row.bottom-xs
          .col-xs-12.col-md-6
            if site.menus && site.menus.footer
              nav.footer-menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
                +navMenu(site.menus.footer)
          .col-xs-12.col-md-6
            h3= site.options.footerContactFormTitle
            p= site.options.footerContactFormDescription

            button.open-mailing-list-modal(type="submit") Sign Up
            
            .mailing-list-modal.modal
              button.close-modal &times;
              .container
                .row
                  .col-xs-12.col-md-6.col-md-offset-3
                    .modal-content
                      script(type="text/javascript" src="//d1aqhv4sn5kxtx.cloudfront.net/nvtag.js")
                      .ngp-form(data-id="1431161077685552896")

            .small= site.options.footerCopyrightText

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/2.6.1/fuse.min.js")
    script(type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
    script(src="/js/script.js")
