doctype html
html(lang="en-us")
  head
    meta(charset="utf-8")
    title
    link(href="/css/style.css" rel="stylesheet" type="text/css")
  body
    header#header
      .container
        .header-content
          a(href="/")= site.site.name

          if site.menus && site.menus.main
            nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
              ul
                each menuItem in site.menus.main
                  li #[a(href=menuItem.url itemprop="url" role="menuitem") #[span(itemprop="name")= menuItem.title]]

    section#content
      .container
        block content

    footer#footer
      .container
        if site.menus && site.menus.footer
          nav
            ul
              each menuItem in site.menus.footer
                li #[a(href=menuItem.url)= menuItem.title]

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/2.6.1/fuse.min.js")
    script(src="/js/script.js")
