doctype html
html(lang="en-us")
  head
    meta(charset="utf-8")
    title
    link(href="/css/style.css" rel="stylesheet" type="text/css")
  body
    header#header
      .container
        .header-content
          a(href="/")= site.site.name

          if site.menus && site.menus.main
            nav
              ul
                each menuItem in site.menus.main
                  li #[a(href=menuItem.url)= menuItem.title]

    section#content
      .container
        block content

    footer#footer
      .container
        if site.menus && site.menus.footer
          nav
            ul
              each menuItem in site.menus.footer
                li #[a(href=menuItem.url)= menuItem.title]
      .container
        p
          a(href="/sitemap/") Sitemap

    script(src="/js/script.js")
