extends layout

block content
  .container.sitemap
    .row
      .col-xs-12
        h1 Sitemap

        each postType in site.postTypes
          h3= postType.label
          ul
            each post in site.posts
              if post.type === postType.name
                li
                  a(href=post.permalink)= post.title

        each taxonomy  in site.taxonomies
          h3= taxonomy.label
          ul
            each term in site.terms
              if term.taxonomy === taxonomy.name
                li #[a(href=term.permalink)= term.name]
