extends layout

block content
  .container.m-xs-y-3
    .row
      .col-xs-12
        h1= post.title
        div!= post.content

    .row
      if site.posts
        - var ogPost = post
        each post in site.posts
          if post.type === 'report'
            .col-xs-12.col-md-2
              .placeholder
              a(href=post.permalink)= post.title

        - ogPost = post
