extends layout

block content
  .container
    .row
      .col-xs-12
        if post
          h1= post.title
          div!= post.content

  .container.p-xs-y-3
    .row

      - var ogPost = post
      each post in site.posts
        if post.type === 'campaign'
          include ./partials/campaign-listing

      - post = ogPost
