extends layout

block content
  .container
    .row
      .col-xs-12
        if post
          .large-teal-header-line
            span= post.title
    .row
      .col-xs-12
        .section-lead!= post.content

  .container.p-xs-b-3
    .row

      - var ogPost = post
      each post in site.posts
        if post.type === 'campaign'
          include ./partials/campaign-listing

      - post = ogPost
