extends layout

block content
  .container.p-xs-y-3
    .row
      .col-xs-12
        .meta= site.taxonomies[term.taxonomy].labels.singular_name
        h1= term.name
    .row
      if posts
        each post in posts
          include partials/post-listing
