extends layout

block content
  .row
    .col
      .meta= term.taxonomy
      h1= term.name

      if posts
        ul
          each post in posts
            li
              a(href=post.permalink)= post.title
